<template name="about">
  <div class="row about">
    <div class="col-md-8 col-md-offset-2">
      <h1>About the Cincinnati Entrepreneur Board</h1>
      <p>The Cincinnati Entrepreneur Board was created to be the voice of founders in the ecosystem. We're building an entrepreneur led culture by being a conduit between startups and the organizations serving the community. We help identify and initiate needed change.</p>

      <p>The Board is self-organizing, inclusive, and operates independently of the ecosystem organizations (but has the ear of all the key players). We meet monthly to synthesize feedback, prioritize needs, and move special projects forward (either independently of or in partnership with other organizations).</p>
    </div>
  </div>
</template>
