ul.needs-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    border: 1px solid #eee;
    margin-bottom: 10px;
    div {
      padding: 10px;
      textarea {
        width: 95%;
      }
    }
    div.action-buttons {
      padding: 0;
    }
  }
}

.newNeed {
  background: #eee;
}

.action-buttons {
  .btn {
    margin: 10px 10px 10px 0;
  }
}
