
.newOfferBackground {
  position: absolute;
  background: rgba(255,255,255,0.95) !important;
  z-index: 999;
  top: 60px;
  left: 25px;
  height: 180px;
  width: 92%;
  filter:blur(10px);
  -o-filter:blur(10px);
  -ms-filter:blur(10px);
  -moz-filter:blur(10px);
  -webkit-filter:blur(10px);
}

.newOffer {
  position: absolute;
  z-index: 9999;
  top: 70px;
  left: 35px;
  width: 88%;
  textarea {
    height: 80px;
  }
  .content {
    background: rgba(0,0,0,0.1) !important;
  }
}
