
.newOfferBackground {
  position: absolute;
  background: rgba(255,255,255,0.96) !important;
  border-radius: 4px;
  z-index: 999;
  top: 70px;
  left: 35px;
  height: 160px;
  width: 93%;
}

.newOffer {
  position: absolute;
  z-index: 9999;
  top: 70px;
  left: 35px;
  width: 93%;
  textarea {
    height: 80px;
  }
  .content {
    background: rgba(0,0,0,0) !important;
  }
}
