body {
  color: #333;
  background: #f7f7f9;
}

#nav {
  margin-top: 9px;
  padding-right: 30px;
}

.navbar-default {
  margin-top: 20px;
  margin-bottom: 40px;
  background: #FFF;
  box-shadow: 4px 4px 20px #DDD;
}

#forgot-password-link {
  padding-top: 0px;
}

.entry {
  box-shadow: 4px 4px 20px #DDD;
}
