<template name="background">
 <div class="container">
     <div class="panel panel-primary">
         <div class="panel-heading">
             {{title}} teset
         </div>
         <div class="panel-body">
             {{content}}
         </div>
         <div class="panel-footer">
             todo: make Background summary page
             todo: make newBackground interface
             todo: make editBackground interface
             todo: associate relevant needs
             todo: list all backgrounds on listing page
         </div>
     </div>
 </div>
</template>