<template name="backgroundListing">
    <div class='panel panel-default'>
      <div class='panel-heading'>
        {{name}}
      </div>
      <div class='panel-body'>
        <a class="need-content">{{description}}</a>
      </div>
      {{#if owner}}
        <div class='panel-footer'>
          <a data-toggle='modal' title='remove' class='delete'><i class='fa fa-times'></i></a>
          <a title='complete' class='complete'><i class='fa fa-check'></i></a>
          <a title='edit' class="editNeedBtn"><i class='fa fa-edit'></i></a>
        </div>
      {{/if}}
    </div>
</template>
