<template name="backgrounds">
    <div class="needs">
        <div class='row'>
            <div class="needListing">
                <div class='needs-list'>
                    {{#masonryContainer gutter=20 transitionDuration="0.2s" id="MasonryContainer" }}
                    {{#masonryElement "MasonryContainer"}}
                      {{#each backgrounds}}
                        {{> backgroundStub}}
                      {{/each}}
                    {{/masonryElement}}
                    {{/masonryContainer}}
                </div>
            </div>
        </div>
    </div>
</template>
