<template name="manageBackgrounds">
    <div class="backgrounds">
        <div class='row'>
            <div class="backgroundListing">
                <div class='background-list'>
                    <div class="col-md-8">
                        <h3>Projects</h3>
                            {{#each backgrounds}}
                                {{> backgroundListing}}
                            {{/each}}
                    </div>
                    <div class="col-md-4">
                        {{#if currentUser}}
                            {{> newBackground}}
                                {{else}}
                            {{> welcomeCard}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
