<template name="needStub">
    <div class='panel panel-default'>
        <div class='panel-heading'>
            Need ({{_id}}) project is {{backgroundId}}
        </div>
        <div class='panel-body'>
            <a class="need-content">{{content}}</a>
        </div>
        {{#if owner}}
        <div class='panel-footer'>
            <a title='select' class='select'><i class='fa fa-plus'></i></a>
            <a title='remove' class='delete'><i class='fa fa-minus'></i></a>
        </div>
        {{/if}}
    </div>
</template>