<template name='footer'>
  <footer>
    <div class="navbar navbar-fixed-bottom">
      <div class="container">
        <ul class="pull-left">
          <li class="pull-left">
            <a href="https://github.com/BeDifferential/supporter">Powered by Supporter</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="http://lister.io/ryw/supporter-io-bugs-feature-requests">report bugs and request features</a>
          </li>
          <li>
            <a href="http://differential.io"><img src="/di.png"/></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
