<template name='layout'>
  <div class='container'>
    <div class='row'>
      <div class='navbar navbar-default'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class='navbar-brand' href='#'><img src='/unpolished.png' /></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          {{#if currentUser}}
            <ul class='nav navbar-nav'>
              <li><a class="allNeedsLink" href='#'>All needs</a></li>
              <li><a class="myNeedsLink" href='#'>My needs</a></li>
              <li><a class="starNeedsLink" href='#'>Favorite needs</a></li>
              <li><a class="backgroundsLink" href="#">All projects</a></li>
            </ul>
          {{/if}}
          <ul class='nav navbar-nav navbar-right'>
            {{accountButtons}}
          </ul>
          <div class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input class='form-control' type="text" id="query" value="{{query}}" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      {{> yield}}
    </div>
  </div>
  {{> yield "footer"}}
</template>
