<template name='layout'>
  <div class='navbar navbar-fixed-top'>
    <div class="navbar-inner">
      <div class='container'>
        <div class='row'>
          <a class='brand' href='/'>Supporter</a>
          {{#if currentUser}}
            <ul class='nav'>
              <li>
                <div class='btn-group'>
                  <input id="showAllNeeds" type="button" class="btn all" value="All needs" />
                  <input id="showMyNeeds" type="button" class="btn mine" value="My needs" />
                </div>
              </li>
            </ul>
          {{/if}}
          <div id='nav' class='pull-right'>
           {{loginButtons align='right'}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      {{yield}}
    </div>
  </div>
</template>
