<template name='layout'>
  <div class='container'>
    <div class='row'>
      <div class='navbar navbar-default'>
        <div class="navbar-header">
          <a class='navbar-brand' href='/'>Supporter</a>
          {{#if currentUser}}
            <ul class='nav navbar-nav'>
              <li class="{{#unless mine}}active{{/unless}}"><a id="showAllNeeds">All needs</a></li>
              <li class="{{#if mine}}active{{/if}}"><a id="showMyNeeds">My needs</a></li>
            </ul>
          {{/if}}
        </div>
        <p class="navbar-text pull-right">
          <ul class='nav navbar-nav navbar-right'>
            {{accountButtons}}
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      {{yield}}
    </div>
  </div>
</template>
