<template name="needListing">
	<div class='need span4'>
    <div class='content'>
      {{content}}
      <br />
      <a>{{username}}</a> / 
      {{#if involved}}
        <a class="offerList" href="/need/{{_id}}">{{pluralize offerCount}}</a>
      {{else}} 
        {{pluralize offerCount}} 
      {{/if}}
      {{#if editing}}
        {{> newOffer}}
      {{else}}
       <div class='action-buttons'>
        {{#if owner}}
          <a class='btn delete'><i class='icon-remove'></i> delete</a>
          <a class='btn complete'><i class='icon-ok'></i> complete</a>
        {{else}}
         {{#if currentUser}}<a class='btn respond'><i class='icon-ok-circle'></i> respond</a>{{/if}}
        {{/if}}
      </div>
      {{/if}}
    </div>
    </div>
  </li>
</template>
