<template name="needListing">
	<div class='need col-md-4'>
    <div class='content'>
      {{content}}
      <br />
      <a href="/u/{{username}}">{{username}}</a> {{date createdAt}} /
      <a class="offerList" href="/need/{{_id}}">{{pluralize offerCount}}</a>
      

      {{#if sending}}
        {{> sendNeed}}
      {{/if}}

      {{#if editing}}
        {{> newOffer}}
      {{else}}
       <div class='action-buttons'>
        {{#if owner}}
          <a class='btn btn-primary delete'><i class='icon-remove'></i> delete</a>
          <a class='btn btn-primary complete'><i class='icon-ok'></i> complete</a>
        {{else}}
         {{#if currentUser}}
           <a class='btn btn-primary respond'><i class='icon-ok-circle'></i> respond</a>
           <a class='btn btn-primary send'><i class='icon-mail-forward'></i> send to someone</a>
         {{/if}}
        {{/if}}
      </div>
      {{/if}}
    </div>
    </div>
  </li>
</template>
