<template name="needs">
  <div class="needs">
    <div class='row'>
      <div class="needListing">
        <div class='needs-list'>
          {{#masonryContainer gutter=20 transitionDuration="0.2s" id="MasonryContainer" }}
              {{#if currentUser}}
<!--                 {{> newNeed}} -->
              {{else}}
                {{#masonryElement "MasonryContainer"}}
                  {{> welcomeCard}}
                {{/masonryElement}}
              {{/if}}
            {{#each needs}}
              {{#masonryElement "MasonryContainer"}}
                {{> needListing}}
              {{/masonryElement}}
            {{/each}}
          {{/masonryContainer}}
        </div>
      </div>
    </div>
  </div>
</template>
