<template name="needs">
  <div class="needs">
    <div class='row'>
      <div class="needListing">
        {{#if query}}
          <div class="query-header">
            <a id="clear-query"><i class="pull-left fa fa-times-circle"></i></a>
            <span>Filtered for "{{query}}"</span>
            <a id="subscribe" data-toggle="tooltip" data-placement="right" title="Get periodic emails from us of new needs that match this criteria." class="btn btn-default btn-xs">subscribe</a>
          </div>
        {{/if}}
        <div class='needs-list'>
          {{#masonryContainer gutter=20 transitionDuration="0.2s" id="MasonryContainer" }}
            {{#unless currentUser}}
              {{#masonryElement "MasonryContainer"}}
                {{> welcomeCard}}
              {{/masonryElement}}
            {{/unless}}
            {{#each needs}}
              {{#masonryElement "MasonryContainer"}}
                {{> needListing}}
              {{/masonryElement}}
            {{/each}}
          {{/masonryContainer}}
        </div>
      </div>
    </div>
  </div>
</template>
