<template name="need"> 
  <div class='container'>
  {{content}}
  <div class="offer offers-list">
  {{#each offers}}
    {{> offerDetail}}
  {{/each}}
  </div>
  <br/>
  {{#if sending}}
    {{> sendNeed}}
  {{/if}}
  {{#if editing}}
    {{> newOffer}}
  {{else}}
     <div class='btn-group'>
        {{#if owner}}
          <a class='btn delete'><i class='icon-remove'></i> delete</a>
          <a class='btn complete'><i class='icon-ok'></i> complete</a>
        {{else}}
         {{#if currentUser}}
             <a class='btn btn-default respond'><i class='icon-ok-circle'></i> respond</a>
             <a class='btn btn-default send'><i class='icon-mail-forward'></i> send to someone</a>
         {{/if}}
        {{/if}}
      </div>
  {{/if}}
  </div>
</template>
