<template name="newNeed">
  <div class="need newNeed">
    <div class='panel'>
      <div class='panel-body'>
        <div class="form-group">
          <textarea class='form-control' id="newNeed" type="text" placeholder="what do you need help with?"></textarea>
        </div>
        <div class="form-group">
          <input class="form-control" id="tags" placeholder="tags">
        </div>
        {{#if backgrounds}}
        <div class="form-group">
          <select id="backgroundId" class="form-control" >
            <option>No project</option>
            {{#each backgrounds}}
              <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
        {{/if}}
      </div>
      {{#if showCharLengthMessage}}
        <div class='panel-footer clearfix'>
          <span class='{{charLengthClass}}'>{{chars}} chars {{charLengthMessage}}</span>
          <input id="newNeedButton" type="button" class="add btn btn-primary pull-right {{saveButtonClass}}" value="Add need" />
        </div>
      {{/if}}
    </div>
  </div>
</template>
