<template name="newNeed">
  <div class="need col-md-4 newNeed">
    <div class='content'>
      <textarea class='form-control' id="newNeed" type="text" placeholder="what do you need?" /></textarea>
    {{#if showCharLengthMessage}}
      <p class='{{charLengthClass}}'>{{chars}} chars {{charLengthMessage}}</p>
    {{/if}}
      <div class='action-buttons'>
        <input id="newNeedButton" type="button" class="add btn btn-default {{#if charDisableSubmit}}hidden{{/if}}" value="Add need" />
      </div>
    </div>
  </div>
</template>
