<template name='sendNeed'>
  <div class="offer span4 newOfferBackground">
  </div>
  <div class="offer span4 newOffer">
    <div class="panel">
      <div class='panel-body'>
        <p>Copy the URL below, and share it with anyone you think who might be able to help:</p>
        <a href="/need/{{_id}}">{{url}}need/{{_id}}</a>
      </div>
      <div class='panel-footer clearfix'>
        <a title='done' class='pull-right cancel'><i class='icon-ok'></i></a>
      </div>
    </div>
  </div>
</template>
