<template name="editOffer">
  <div class="modal fade editOffer" tabindex="-1" role="dialog" aria-labelledby="action" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">How can you help?</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" id="newOffer" type="text">{{content}}</textarea>
            {{#if showCharLengthMessage}}
              <span class='help-block {{charLengthClass}}'>{{chars}} chars {{charLengthMessage}}</span>
            {{/if}}
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" class='btn btn-default cancel'>Cancel</a>
          <a class="btn btn-primary editOfferButton {{saveButtonClass}}" >Save</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
