<template name="newOffer">
  <div class="offer span3 newOfferBackground">
  </div>
  <div class="offer span3 newOffer">
    <div class="content">
      <textarea id="newOffer" type="text" placeholder="How can you help?" />
      {{#if showCharLengthMessage}}
        <p class='{{charLengthClass}}'>{{chars}} chars {{charLengthMessage}}</p>
      {{/if}}
      <div class='action-buttons'>
        <a class="btn btn-primary newOfferButton {{#if charDisableSubmit}}hidden{{/if}}" ><i class="icon-comment"> Respond</i></a>
        <a class='btn btn-primary cancel'><i class='icon-remove'></i> Cancel</a>
      </div>
    </div>
  </div>
</template>
