<template name='profile'>
  <div class="col col-lg-6">
    <h2>Edit Profile</h2>
    <div class="form-group">
      <input class="form-control" type="text" id="name" placeholder="Name" value="{{name}}"></input>
      <span class='errors'></span>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="organization" placeholder="Organization (optional)" value="{{organization}}"></input>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="location" placeholder="Location (optional)" value="{{location}}"></input>
    </div>
    <div class="form-group">
      <textarea class="form-control" type="text" id="bio" placeholder="Bio (optional)">{{bio}}</textarea>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="url" placeholder="URL (optional)" value="{{url}}"></input>
    </div>
    <a class='btn btn-primary done'><i class='icon-ok'></i> done</a>
  </div>

  <div class="col col-lg-6">
    <h2>Preview Profile</h2>
    {{> _userCard }}
  </div>
</template>
