<template name='profile'>
  <div class="col col-lg-6">
    {{#if admin}}
      <a href="{{pathFor 'admin' }}" class="btn btn-primary">Add Admin Users</a>
    {{/if}}
    <h2>Edit Profile</h2>
    <div class="form-group">
      <input class="form-control" type="text" id="username" placeholder="Username" value="{{username}}" />
      <span class='errors'></span>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="name" placeholder="Name" value="{{name}}"/>
      <span class='errors'></span>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="organization" placeholder="Organization (optional)" value="{{organization}}"/>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="location" placeholder="Location (optional)" value="{{location}}"/>
    </div>
    <div class="form-group">
      <textarea class="form-control" type="text" id="bio" placeholder="Bio (optional)">{{bio}}</textarea>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="url" placeholder="URL (optional)" value="{{url}}"/>
    </div>
    <div class="form-group">
      <label>Email address is used to send you alerts when someone responses to your need, or when you respond to a need:</label>
      <input class="form-control" type="email" id="email" placeholder="Email" value="{{email}}"/>
      <span class='errors'></span>
    </div>

    <a class='btn btn-primary done'><i class='icon-ok'></i> done</a>
  </div>

  <div class="col col-lg-6">
    <h2>Preview Profile</h2>
    {{> _userCard }}
    <div class="form-group">
      <a class="btn btn-primary manageSubscriptions"><i class="fa fa-hand-o-right"></i> Manage Subscriptions</a>
        </div>
      <div class="form-group">
      <a class="btn btn-primary manageBackgrounds"><i class="fa fa-hand-o-right"></i> Manage Your Projects</a>

    </div>
  </div>
</template>
